.rodape{
    background-color: var(--cor5);
    color: var(--branco);
    text-align: center;
    font-size: 0.8em;
    padding: 27px 5px;
    height: 20px;
}

.rodape__texto{
    color: var(--branco);
    font-size: 1.3em;
}

.rodape__links{
    text-decoration: none;
    font-weight: bold;
    color: var(--branco);
}

.rodape__links:hover{
    background-color: var(--cor1);
    text-decoration: underline;
    font-weight: bolder;
    font-size: 1.2em;
}