.principal{
    background-color: var(--branco);
}

.principal__titulo {
    color: var(--cor5);
    font-family: var(--fonte-android);
}

.principal__subtitulo{
    font-family: var(--fonte-android);
}